node_modules/
**/node_modules/
venv/
**/venv/
.env
**/.env
__pycache__/
**/__pycache__/
.next/
**/.next/
.DS_Store
**/.DS_Store
*.db
**/*.db
.vercel/
**/.vercel/
frontend/.next/
frontend/node_modules/
backend/venv/
backend/__pycache__/
